body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background: #f9f9f9;
  color: #333;
}
form {
  margin-top: 20px;
}
input {
  padding: 8px;
  margin-bottom: 10px;
  width: 250px;
}
button {
  padding: 10px 20px;
  background-color: #3bea73;
  color: white;
  border: none;
  cursor: pointer;
}
#messages {
  border: 1px solid #ccc;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
}
